.developer-button-container {
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 1003;
}

.logo-button:hover {
  background-color: transparent;
  color: #c66a00;
}

.logo-button:hover .typing-cursor {
  --blink-color: #c66a0080;
}

/*@keyframes logo-wave {
  0%, 10%, 100% {
    transform: scale(1) rotate(0deg);
  }
  5% {
    transform: scale(1.25) rotate(15deg);
  }
  10% {
    transform: scale(1.25) rotate(-15deg);
  }
  12.5% {
    transform: scale(1.25) rotate(15deg);
  }
  15% {
    transform: scale(1.25) rotate(-7.5deg);
  }
  17.5% {
    transform: scale(1.25) rotate(7.5deg);
  }
  20% {
    transform: scale(1) rotate(0deg);
  }
}*/

.logo-button {
  font-family: 'Outfit', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #80808080;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  background-color: transparent;
  
  padding: 10px; /* Add some padding for better appearance */
}

.typing-cursor {
  display: inline-block;
  width: 18px;
  height: 24px; /* Match font size */
  --blink-color: #80808080;
  background-color: var(--blink-color);
  transition: background-color 0.3s ease;
  animation: blink 1s step-end infinite;
  margin-left: 3px;
}

@media (max-width: 1080px) {
  .developer-button-container {
    top: 5px;
    left: 5px;
  }
}



@keyframes blink {
  from, to { background-color: transparent; }
  50% { background-color: var(--blink-color); }
}

